<mat-sidenav-container class="sidenav-container">

    <!-- SIDENAV -->

    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
        <a mat-list-item routerLink="/sorting/bubblesort" (click)="drawer.close()" routerLinkActive="active">BubbleSort</a>
        <a mat-list-item routerLink="/sorting/insertionsort" (click)="drawer.close()" routerLinkActive="active">InsertionSort</a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

    <!-- TOP TOOLBAR-->

    <mat-toolbar>
        <button 
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">

            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="logo" routerLink="/">Sorting Examples</span>

        <span class="fill-space"></span>
        <div *ngIf="!(isHandset$ | async)">
            <a mat-button routerLink="/sorting/bubblesort" routerLinkActive="active">BubbleSort</a>
            <a mat-button routerLink="/sorting/insertionsort" routerLinkActive="active">InsertionSort</a>
        </div>

        <!-- DROPDOWN MENU -->

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <div mat-menu-item>
                <label>Bars</label>
                <mat-slider
                    tickInterval="5"
                    min="5"
                    max="100"
                    [value]="barsValue"
                    (input)="barsValueChanged($event)">
                </mat-slider>
            </div>
            <div mat-menu-item>
                <label>Speed</label>
                <mat-slider
                    tickInterval="1"
                    min="1"
                    max="100"
                    invert="true"
                    [value]="speedValue"
                    (input)="speedValueChanged($event)">
                </mat-slider>
            </div>
            <button mat-menu-item (click)="reset()">RESET</button>
            <button mat-menu-item (click)="sort(); drawer.close();">SORT</button>
        </mat-menu>
    </mat-toolbar>

    <!-- TRANSCLUSION -->
    <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>