<main id="home">
    <h1>Steven Finley</h1>
    <h2 class="sm-heading">
        Full-Stack Software Developer / IT Expert </h2>
    <div class="icons">
        <a href="https://www.linkedin.com/in/steven-andrew-finley/" target="_blank" rel="noopener">
            <fa-icon [icon]='linkedin' class="fa-2x"></fa-icon>
        </a>
        <a href="https://github.com/finleysa/" target="_blank" rel="noopener">
            <fa-icon [icon]='github' class="fa-2x"></fa-icon>
        </a>
    </div>

    <mat-card id="about">
        <mat-card-title>
            About Me
        </mat-card-title>
        <mat-card-content>
            I'm a military Naval Aircrew veteran turned software nerd. I worked as a Tech Lead for Science Applications International Corporation. I transitioned out of my IT role and decided to move into software development by attending <a style="color: white;" rel="noopener" href="http://nashvillesoftwareschool.com/">Nashville Software School (NSS)</a> in 2014. NSS was a great 6 month full-stack learning experience that has launched my career in the world of software. Since then I’ve worked in various software development roles here in the states, abroad, and for government agencies directly.
        </mat-card-content>
        <mat-card-content>
            <a mat-raised-button [href]="resumeURL" target="_blank">
                <fa-icon [icon]='pdf' class="fa-1x" style="margin-right: .5em">
                </fa-icon>
                Download CV
            </a>
        </mat-card-content>
    </mat-card>
</main>